## Import Python Packages

In [1]:
import configparser
import psycopg2
import boto3
import json
import pandas as pd

## Load Parameters

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY                    = config.get("AWS","KEY")
SECRET                 = config.get("AWS","SECRET")
DWH_ENDPOINT           = config.get("DWH", "DWH_ENDPOINT")
DWH_USER               = config.get("DWH","DWH_USER")
DWH_PASSWORD           = config.get("DWH","DWH_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_DB                 = config.get("DWH","DWH_NAME")
DWH_CLUSTER_IDENTIFIER = config.get("DWH", "DWH_CLUSTER_IDENTIFIER")
DWH_CLUSTER_TYPE       = config.get("DWH", "DWH_CLUSTER_TYPE")
DWH_NUM_CLUSTERS       = config.get("DWH", "DWH_NUM_CLUSTERS")
DWH_NODE_TYPE          = config.get("DWH", "DWH_NODE_TYPE")
IAM_ROLE_NAME          = config.get("IAM", "IAM_ROLE_NAME")
IAM_ROLE               = config.get("IAM", "IAM_ROLE")
LOG_DATA               = config.get("S3","LOG_DATA")
SONG_DATA              = config.get("S3","SONG_DATA")
LOG_JSONPATH           = config.get("S3","LOG_JSONPATH")
BUCKET                 = config.get("S3","BUCKET")
PATH_LOG_FROM          = config.get("S3","PATH_LOG_FROM")
PATH_SONG_FROM         = config.get("S3","PATH_SONG_FROM")
PATH_LOG_JSON          = config.get("S3","PATH_LOG_JSON")
pd.DataFrame({"Param":
                  ["KEY", "SECRET", "DWH_ENDPOINT", "DWH_USER", 
                   "DWH_PASSWORD", "DWH_PORT", "DWH_DB", "DWH_CLUSTER_IDENTIFIER", 
                   "DWH_CLUSTER_TYPE", "IAM_ROLE_NAME", "IAM_ROLE", "LOG_DATA",
                   "SONG_DATA", "LOG_JSONPATH", "BUCKET", "PATH_LOG_FROM",
                   "PATH_SONG_FROM", "PATH_LOG_JSON"],
              "Value":
                  [KEY, SECRET, DWH_ENDPOINT, DWH_USER, 
                   DWH_PASSWORD, DWH_PORT, DWH_DB, DWH_CLUSTER_IDENTIFIER, 
                   DWH_CLUSTER_TYPE, IAM_ROLE_NAME, IAM_ROLE, LOG_DATA,
                   SONG_DATA, LOG_JSONPATH, BUCKET, PATH_LOG_FROM,
                   PATH_SONG_FROM, PATH_LOG_JSON]
             })

                     Param                                              Value
0                      KEY                               AKIAUS6327XUWNAB3FU7
1                   SECRET           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
2             DWH_ENDPOINT  sparkifyclusterid.ckhwadt29hdw.us-east-1.redsh...
3                 DWH_USER                                      sparkify_user
4             DWH_PASSWORD                                           Passw0rd
5                 DWH_PORT                                               5439
6                   DWH_DB                                       sparkify_dwh
7   DWH_CLUSTER_IDENTIFIER                                  sparkifyclusterid
8         DWH_CLUSTER_TYPE                                         multi-node
9            IAM_ROLE_NAME                                  sparkify_iam_role
10                IAM_ROLE   arn:aws:iam::315604270569:role/sparkify_iam_role
11                LOG_DATA         's3://udacity-fabio-haider/data/log_data/'
12               SONG_DATA        's3://udacity-fabio-haider/data/song_data/'
13            LOG_JSONPATH  's3://udacity-fabio-haider/data/log_json_path....
14                  BUCKET                               udacity-fabio-haider
15           PATH_LOG_FROM                                     data/log_data/
16          PATH_SONG_FROM                                    data/song_data/
17           PATH_LOG_JSON                            data/log_json_path.json

## Verify Datasets in Bucket

In [3]:
s3 = boto3.resource('s3',region_name = 'us-east-1',
                     aws_access_key_id = KEY,
                     aws_secret_access_key = SECRET)
bucket = s3.Bucket(BUCKET)
pd.DataFrame ({"S3 Bucket":[bucket]})

                                S3 Bucket
0  s3.Bucket(name='udacity-fabio-haider')

In [4]:
log_data = bucket.objects.filter(Prefix = PATH_LOG_FROM)
for folder in log_data: 
    print(folder)

s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/log_data/2018-11-30-events.json')

In [5]:
song_data = bucket.objects.filter(Prefix = PATH_SONG_FROM)
for folder in song_data: 
    print(folder)

s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/A/TRAAAAW128F429D538.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/A/TRAAABD128F429CF47.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/A/TRAAADZ128F9348C2E.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/A/TRAAAEF128F4273421.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/A/TRAAAFD128F92F423A.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/A/TRAAAMO128F1481E7F.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/A/TRAAAMQ128F1460CD3.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/A/TRAAAPK128E0786D96.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/A/TRAAARJ128F9320760.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/A/TRAAAVG12903CFA543.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/A/TRAAAVO128F93133D4.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/B/TRAABCL128F4286650.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/B/TRAABDL12903CAABBA.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/B/TRAABJL12903CDCF1A.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/B/TRAABJV128F1460C49.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/B/TRAABLR128F423B7E3.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/B/TRAABNV128F425CEE1.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/B/TRAABRB128F9306DD5.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/B/TRAABVM128F92CA9DC.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/B/TRAABXG128F9318EBD.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/B/TRAABYN12903CFD305.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/B/TRAABYW128F4244559.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACCG128F92E8A55.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACER128F4290F96.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACFV128F935E50B.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACHN128F1489601.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACIW12903CC0F6D.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACLV128F427E123.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACNS128F14A2DF5.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACOW128F933E35F.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACPE128F421C1B9.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACQT128F9331780.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACSL128F93462F4.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACTB12903CAAF15.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACVS128E078BE39.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/A/C/TRAACZK128F4243829.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/A/TRABACN128F425B784.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/A/TRABAFJ128F42AF24E.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/A/TRABAFP128F931E9A1.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/A/TRABAIO128F42938F9.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/A/TRABATO128F42627E9.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/A/TRABAVQ12903CBF7E0.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/A/TRABAWW128F4250A31.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/A/TRABAXL128F424FC50.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/A/TRABAXR128F426515F.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/A/TRABAXV128F92F6AE3.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/A/TRABAZH128F930419A.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBAM128F429D223.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBBV128F42967D7.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBJE12903CDB442.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBKX128F4285205.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBLU128F93349CF.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBNP128F932546F.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBOP128F931B50D.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBOR128F4286200.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBTA128F933D304.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBVJ128F92F7EAA.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBXU128F92FEF48.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/B/TRABBZN12903CD9297.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCAJ12903CDFCC2.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCEC128F426456E.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCEI128F424C983.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCFL128F149BB0D.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCIX128F4265903.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCKL128F423A778.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCPZ128F4275C32.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCRU128F423F449.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCTK128F934B224.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCUQ128E0783E2B.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCXB128F4286BD3.json')
s3.ObjectSummary(bucket_name='udacity-fabio-haider', key='data/song_data/A/B/C/TRABCYE128F934CE1D.json')

In [6]:
json = bucket.objects.filter(Prefix = PATH_LOG_JSON)
for folder in json: 
    print(folder.get()['Body'].read().decode('utf-8'))

{
  "jsonpaths": [
    "$['artist']",
    "$['auth']",
    "$['firstName']",
    "$['gender']",
    "$['itemInSession']",
    "$['lastName']",
    "$['length']",
    "$['level']",
    "$['location']",
    "$['method']",
    "$['page']",
    "$['registration']",
    "$['sessionId']",
    "$['song']",
    "$['status']",
    "$['ts']",
    "$['userAgent']",
    "$['userId']"
  ]
}

## Connect to Redshift

In [7]:
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_USER, DWH_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://sparkify_user:Passw0rd@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh

'Connected: sparkify_user@sparkify_dwh'

## Count and List Staging Events Table

In [8]:
%sql select count(*) from staging_events

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.

[(8056,)]

In [10]:
%sql select * from staging_events limit 5

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[('Television', 'Logged In', 'Aleena', 'F', 1, 'Kirby', Decimal('238'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', 237, 'See No Evil  (Remastered LP Version)', '200', 1541381456796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Josh Turner', 'Logged In', 'Aleena', 'F', 9, 'Kirby', Decimal('207'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', 237, "What It Ain't", '200', 1541383104796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Lloyd Cole And The Commotions', 'Logged In', 'Aleena', 'F', 17, 'Kirby', Decimal('235'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', 237, 'Charlotte Street', '200', 1541385246796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Foo Fighters', 'Logged In', 'Theodore', 'M', 1, 'Smith', Decimal('262'), 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', '1540306145796', 226, 'All My Life', '200', 1541387058796, 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', '52'),
 ('Metallica / Marianne Faithfull', 'Logged In', 'Katherine', 'F', 0, 'Gay', Decimal('279'), 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', '1540968306796', 56, 'The Memory Remains', '200', 1541396838796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.59.10 (KHTML, like Gecko) Version/5.1.9 Safari/534.59.10"', '57')]

## Count and List Staging Songs Table

In [11]:
%sql select count(*) from staging_songs

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.

[(71,)]

In [12]:
%sql select * from staging_songs limit 5

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[(1, 'AR7G5I41187FB4CE6C', None, None, 'London, England', 'Adam Ant', 'SONHOTT12A8C13493C', 'Something Girls', Decimal('233'), 1982),
 (1, 'ARC43071187B990240', None, None, 'Wisner, LA', 'Wayne Watson', 'SOKEJEJ12A8C13E0D0', 'The Urgency (LP Version)', Decimal('245'), 0),
 (1, 'ARNPAGP1241B9C7FD4', None, None, '', 'lextrical', 'SOZVMJI12AB01808AF', 'Synthetic Dream', Decimal('165'), 0),
 (1, 'ARDNS031187B9924F0', Decimal('32'), Decimal('-83'), 'Georgia', 'Tim Wilson', 'SONYPOM12A8C13B2D7', 'I Think My Wife Is Running Around On Me (Taco Hell)', Decimal('186'), 2005),
 (1, 'ARGUVEV1187B98BA17', None, None, '', 'Sierra Maestra', 'SOGOSOV12AF72A285E', '¿Dónde va Chichi?', Decimal('313'), 1997)]

## Count and List Fact Table

In [13]:
%sql select count(*) from songplays

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.

[(4,)]

In [14]:
%sql select * from songplays limit 5

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
4 rows affected.

[(2, datetime.datetime(2018, 11, 27, 22, 35, 59, 796000), '80', 'paid', 'SOGDBUF12A8C140FAA', 'AR558FS1187FB45658', 992, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (6, datetime.datetime(2018, 11, 21, 21, 56, 47, 796000), '15', 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (7, datetime.datetime(2018, 11, 14, 5, 6, 3, 796000), '10', 'free', 'SOGDBUF12A8C140FAA', 'AR558FS1187FB45658', 484, 'Washington-Arlington-Alexandria, DC-VA-MD-WV', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (4, datetime.datetime(2018, 11, 19, 9, 14, 20, 796000), '24', 'paid', 'SOGDBUF12A8C140FAA', 'AR558FS1187FB45658', 672, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

## Count and List Dimension Tables

In [15]:
%sql select count(*) from songs

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.

[(71,)]

In [16]:
%sql select * from songs limit 5

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[('SOILPQQ12AB017E82A', 'Sohna Nee Sohna Data', 'AR1ZHYZ1187FB3C717', 0, 599.0),
 ('SOGDBUF12A8C140FAA', 'Intro', 'AR558FS1187FB45658', 2003, 75.0),
 ('SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E', 2008, 149.0),
 ('SOQLGFP12A58A7800E', 'OAKtown', 'ARD7TVE1187B99BFB1', 0, 259.0),
 ('SONYPOM12A8C13B2D7', 'I Think My Wife Is Running Around On Me (Taco Hell)', 'ARDNS031187B9924F0', 2005, 186.0)]

In [17]:
%sql select count(*) from artists

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.

[(69,)]

In [18]:
%sql select * from artists limit 5

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[('AR051KA1187B98B2FF', 'Wilks', '', None, None),
 ('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', None, None),
 ('ARGSAFR1269FB35070', 'Blingtones', '', None, None),
 ('ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', 35.0, -80.0),
 ('ARL7K851187B99ACD2', 'Andy Andy', '', None, None)]

In [19]:
%sql SELECT count(*) FROM users

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.

[(98,)]

In [20]:
%sql SELECT * FROM users limit 5;

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[('25', 'Jayden', 'Graves', 'M', 'paid'),
 ('34', 'Evelin', 'Ayala', 'F', 'free'),
 ('38', 'Gianna', 'Jones', 'F', 'free'),
 ('4', 'Alivia', 'Terrell', 'F', 'free'),
 ('42', 'Harper', 'Barrett', 'M', 'paid')]

In [21]:
%sql SELECT count(*) FROM time

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.

[(6813,)]

In [22]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://sparkify_user:***@sparkifyclusterid.ckhwadt29hdw.us-east-1.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.

[(datetime.datetime(2018, 11, 2, 1, 25, 34, 796000), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 1, 34, 17, 796000), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 12, 32, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 22, 43, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 54, 59, 796000), 9, 2, 44, 11, 2018, 5)]